* {
  margin: 0;
  padding: 0;
  /* border-style: border-box; */
}
.container {
  display: flex;
  flex-direction: column;
  width: 377px;
  height: fit-content;
  margin: auto auto;
  background-color: #ffffff;
  margin-top: 100px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px #00000029;
}
.inter {
  font-family: Inter, sans-serif;
}
.head {
  width: 345px;
  height: 28px;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
}
.newTask {
  width: 345px;
  height: 38px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
.text {
  width: 280px;
  height: 36px;
  font-size: 14px;
  border: 1.3px solid #e4e4e7;
  border-radius: 6px;
  padding-left: 8px;
}
.add {
  width: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 38px;
  background-color: #3c82f6;
  color: #f9f9f9;
  border: 0;
}
.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 540px;
  scroll-behavior: smooth;
  overflow: scroll;
}
.taskBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9fafb;
  width: 345px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  gap: 10px;
}
.taskText {
  width: 245px;
  height: fit-content;
  word-wrap: break-word;
  white-space: normal;
}
.empty {
  height: 27px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
  text-align: center;
  position: relative;
  top: 10px;
}
.types {
  display: flex;
  gap: 8px;
  font-size: 12px;
}
.all {
  width: 38px;
  height: 32px;
}

.color {
  background-color: #f3f4f6;
  color: #363636;
}

.active-color {
  background-color: #3c82f6;
  color: #f9f9f9;
}

.active1 {
  width: 60px;
  height: 32px;
}
.completed {
  width: 87px;
  height: 32px;
}
.deleteBox {
  width: 67px;
  height: 30px;
  border-radius: 6px;
  background-color: #fef2f2;
  color: #ef4444;
  border: #fef2f2;
}
.line {
  text-decoration: line-through;
}
.count-clear {
  display: flex;
}
.count {
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
}
.clear {
  font-size: 14px;
  font-weight: 400;
  color: #ef4444;
  background-color: #ffffff;
  border: #ffffff;
  margin-left: 30%;
}
.pinecone {
  display: flex;
  justify-content: center;
  height: 15px;
}
.powered {
  font-size: 12px;
  width: 67px;
  height: 15px;
  color: #6b7280;
}
.tsenher {
  font-size: 12px;
  width: 108px;
  height: 15px;
  color: #3b73ed;
}
.bottom-line {
  background-color: #00000029;
  width: 370px;
  height: 1px;
  margin-bottom: 15px;
}
